/* This is the general stylying */

body {
  font-size: 18px;
  font-family: Helvetica;
  margin: 1px solid black;
}


/* This is the Logo styling */

.logo-container{
  display: flex;
  background-color: black;
  width: 100%;
  height: 3rem;
  padding: 0 auto;
  border-left: auto;
  border-right: auto;
  margin: 1px solid red;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  display: flex;
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo p {
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  color: white;
}

/* This is the Main Banner styling */

.banner-container {
  display: flex;
  flex-direction: row;
  height: 25rem;
  width: 100%;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem;
  height:7rem;
  padding: 2rem 3rem;
  margin-left: 9rem;
  margin-top: 9rem;
  background-color: black;
}

.main-banner span {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  color: white;
}

.main-banner p {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* This is the Navigation section styling */

.nav {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: firebrick;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}

/* This is the styling for the Agent Tech Section */

.agent-tech {
  width: 960px;
  height: 20rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* This is the styling for the Product Grid Section */

.product-grid {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
}

.product-grid div {
  display: flex;
  width: 30%;
  height: 15rem;
  border: 4px solid black;
}

.product-grid span {
  background-color: black;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem auto;
}

.exploding-pen {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.exploding-pen img {
  justify-content: center;
  height: 9rem;
  width: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
}

.cellular-watch {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.cellular-watch img {
  justify-content: center;
  height: 9rem;
  width: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
}

.thermal-glasses {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.thermal-glasses img {
  justify-content: center;
  height: 60%;
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
}

/* This is the Store Location and Hours section */

.store {
  width: 960px;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.store-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
}

.store-info p {
  background-color: black;
  color: white;
  height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.store-info span {
  height: 1rem;
  padding-top: 0.5rem;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  padding-bottom: 4rem;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  padding-bottom: 4rem;
}

/* This is the styling for the footer section */

footer {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

footer span {
  width: 960px;
}

/* This is the media query section */

  /* Media Query for Screens wider than 1024px*/


@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

/* Media Query for Screens with a max-width of 1024px*/

@media only screen and (max-width: 1024px) and (min-width: 500px) {
  .main-banner {
    margin-left: 0rem;
  }
  .main-banner span {
    font-size: 0.75rem;
  }
  .desktop {
    display: none;
  }
  .mobile ul {
    justify-content: center;
    align-items: center;
  }
  .product-grid {
    max-width: 960px;
  }
  .product-grid .exploding-pen {
    width: 47%;
    height: auto;
  }
  .product-grid .cellular-watch {
    width: 47%;
    height: auto;
  }
  .product-grid .thermal-glasses {
    display: none;
  }
}

/* Media Query for Screens with a max-width of 470px*/


@media only screen and (max-width: 470px) {
  body {
  max-width: 470px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    margin-top: 2rem;
  }
  .mobile ul {
    justify-content: center;
    align-items: center;
  }
  .banner-container {
    height: 15rem;
  }
  .main-banner {
    width: 100%;
    height: 3rem;
    margin-bottom: 0px;
    margin-left: 0rem;
    margin-top: 10rem;
  }
  .main-banner span {
    font-size: 0.77rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .main-banner p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .agent-tech {
    width: 470px;
  }
  .product-grid .exploding-pen {
    width: 90%;
    height: auto;
    margin-left: 0.75rem;
  }
  .product-grid .cellular-watch {
    display: none;
  }
  .product-grid .thermal-glasses {
    display: none;
  }
  .store {
    display: flex;
    flex-direction: column;
    margin: 3rem 0.75rem;
  }
  .store-info {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 470px;
  }
  .location {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0;
    padding-bottom: 4rem;
  }
  .hours {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    padding-bottom: 4rem;
    margin-top: 0;
  }
  footer {
    margin-top: 6rem;
  }
  footer span {
    width: 470px;
    text-align: center;
  }
}
